@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about some of Canada's Best National Parks!</p>
    <br />
    <p>@DateTime.Now</p>
</div>
